body{
    background-color: #e2edff;
}
#contact{
    padding: 2rem 1rem;
    background-color: #e2edff;
}
nav {
    background-color: #0099ff;
}
footer {
    width: 100%;
    height: 50px;
    bottom: 0px;
    position: relative;
    background-color: #0099ff;
}
img {
    width: 190px; ;
    height: 190px; ;
    border-radius:50% ;
}
