body {
    background-color: #e2edff;
}

nav {
    background-color: #0099ff;
}
.jumbotron {
    margin-top: 1px;
    margin-bottom: 1px;
    padding-top: 1px;
    padding-bottom: 1px;
    background-color: #e2edff;    
}
footer {
    width: 100%;
    height: 50px;
    bottom: 0px;
    position: relative;
    background-color: #0099ff;
}
#img {
    border-radius: 50%;
}